.chart-selector {
  overflow: hidden !important;
  .modal-dialog {
    @media Only screen and (min-width: 1024px) {
      min-width: 640px;
    }
    .modal-content {
      .modal-header {
        .modal-title {
          font-size: @font-large;
          font-weight: bold;
          line-height: 12px;
        }
      }
      .chart-select-modal {
        height: 70vh;
        overflow-y: scroll;
        .add-chart-type {
          list-style: none;
          padding: 0;
          li {
            display: flex;
            height: 56px;
            align-items: center;
            margin-bottom: 5px;
            padding: 20px;
            font-size: @font-medium;
            line-height: 18px;
            cursor: pointer;
            &:hover {
              background-color: @color-primary-light;
              color: @color-primary;
            }
            &.active {
              background-color: @color-primary-light;
              color: @color-primary;
              &:after {
                content: '\f17b';
                color: @color-primary;
                font-family: @font-family-icon;
                position: absolute;
                right: 25px;
                font-size: @font-large;
                line-height: 22px;
              }
            }

            i {
              padding-right: 10px;
              font-size: @font-icon-large;
              line-height: 38px;
            }
          }
        }
      }
      .modal-footer {
        padding: 20px;

        .btn {
          width: 148px;
          height: 48px;
          font-size: @font-small;
          font-weight: bold;
          color: @color-primary;
          line-height: 30px;
          border: 2px solid @color-primary;
          background-color: @color-white;
          &.btn-submit {
            background: @color-primary;
            color: @color-white;
            margin-left: 20px;
          }
          &:focus {
            outline: 0 !important;
            box-shadow: none;
          }
        }
      }
    }
    &.change-password {
      max-width: 640px;
      max-height: 392px !important;
      input {
        width: 420px;
        height: 40px;
      }
    }
  }
}
