@import '../../../styles/mixins';

.dashboard-container {
  margin: 0 !important;
  display: flex;
  justify-content: space-between;
  position: relative;
  .no-feed-comment-data {
    width: 328px;
    position: absolute;
    margin: auto;
    left: 74px;
    right: 0;
    top: 115px;
    .no-topic {
      .btn-no-data {
        height: 48px;
        width: 148px;
        border-radius: 4px;
        border: none;
        border: 2px @color-primary solid;
        background: transparent;
        color: @color-primary;
        font-size: @font-small;
        &:hover {
          color: @color-white;
          background: @color-hover;
        }
      }
    }
  }
  .home-analytics {
    background: @color-light-grey;
    height: 100%;
    margin: 30px 0px 20px 0px;
    position: relative;
    .analytics-menu {
      height: 32px;
      display: flex;
      align-items: center;
      padding: 0px 30px;
      p {
        font-size: @font-large;
        line-height: 21px;
        color: @color-dark-grey;
      }
      .menu-item {
        display: flex;
        align-self: center;
        width: 100%;
        justify-content: flex-end;
        button {
          &:not(:first-child) {
            margin-left: 15px;
          }
        }
      }
    }
    .analytics-container {
      padding: 0px 10px 20px;
      background: @color-light-grey;
      .chart-emotions,
      .row-emotions {
        display: flex;
        margin-top: 20px;
        justify-content: space-between;
        padding-left: 20px;
        width: 100%;
        position: relative;
        .mentions {
          max-width: 31.57899%;
          height: 70px;
          padding: 0px !important;
          background: @color-white;
          position: relative;
          box-shadow: @box-shadow-2-6-a;
          .mention-container {
            background: @color-white;
            display: flex;
            position: relative;
            overflow: hidden;
            padding: 10px;
            .mention-label {
              display: flex;
              flex-direction: column;
              width: 100%;
              h6 {
                font-size: @font-small;
                color: @color-dark-grey;
                margin: 0 !important;
              }
              .like-count {
                font-size: @font-large;
                color: @color-xdark;
                line-height: 21px;
                font-weight: bold;
              }
              .data-growth {
                display: flex;
                align-items: center;
                .la-arrow-down {
                  color: @color-point-down;
                  font-weight: bold;
                }
                .la-arrow-up {
                  font-weight: bold;
                  color: @color-point-up;
                }
                label {
                  font-weight: bold;
                  font-size: @font-small;
                  line-height: 9px;
                  margin: 0;
                }
                &.up {
                  color: @color-point-up;
                }
                &.down {
                  color: @color-point-down;
                }
              }
            }
            .chart-block {
              position: absolute;
              bottom: -5px;
              right: 0px;
              @media screen and (max-width: 1023px) {
                right: -8px;
                width: 70px;
                .highcharts-container {
                  width: 70px !important;
                  .highcharts-root {
                    width: 70px;
                  }
                }
              }
              @media screen and (max-width: 767px) {
                width: 60px;
                .highcharts-container {
                  width: 60px !important;
                  .highcharts-root {
                    width: 60px;
                  }
                }
              }
            }
          }
        }
        &:hover {
          .mentions {
            box-shadow: @box-shadow-4-20-33;
          }
        }
        .la-times-circle {
          position: absolute;
          z-index: 9;
          right: 5px;
          top: 5px;
          cursor: pointer;
          display: none;
          font-size: @font-icon-small;
          line-height: 24px;
          color: @color-button-disabled;
        }
        &:hover {
          .la-times-circle {
            display: block;
          }
        }
      }
      .row-emotions {
        .mentions {
          max-width: 23.026315789% !important;
        }
      }
      .chart-container {
        padding: 0 20px 0px 0px;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: start;
        .no-feed-comment-data {
          top: 150px !important;
        }
        .chart-content {
          position: relative;
          padding: 0;
          margin: 0;
          width: 50%;
          height: auto;
          .highcharts-container {
            width: 100% !important;
            height: auto !important;
            box-shadow: @box-shadow-2-6-a;
            .highcharts-root {
              width: 100%;
              height: auto;
            }
          }
          &.trend {
            width: 100% !important;
            height: auto;
            .highcharts-container {
              width: 100% !important;
              height: auto !important;
              .highcharts-root {
                width: 100%;
                height: auto;
              }
            }
          }
          &:not(first-child) {
            margin-top: 20px !important;
            padding-left: 20px;
          }
          &.col-6 {
            max-width: 48.6842105%;
          }
          .la-times-circle {
            position: absolute;
            z-index: 1;
            right: 5px;
            top: 5px;
            cursor: pointer;
            display: none;
            font-size: @font-icon-small;
            line-height: 24px;
            color: @color-button-disabled;
          }
          &:hover {
            .la-times-circle {
              display: block;
            }
            & > div {
              box-shadow: @box-shadow-4-20-33;
            }
          }
          .add-chart-container {
            width: 100%;
            height: 100%;
            min-height: 235px;
            background: @color-white;
            cursor: pointer;
            position: relative;
            .add-char-inner {
              display: flex;
              justify-content: center;
              align-items: center;
              border: 2px dashed @color-border-dashed;
              position: absolute;
              right: 20px;
              left: 20px;
              bottom: 20px;
              top: 20px;
              span {
                font-size: @font-medium;
                line-height: 16px;
                color: @color-primary;
                display: flex;
                align-items: center;
                i {
                  font-size: @font-icon-small;
                  line-height: 27px;
                  padding-right: 5px;
                }
              }
            }
          }
        }
      }
    }
    .toggle-button {
      cursor: pointer;
      position: absolute;
      top: 0;
      width: 29px;
      height: 29px;
      right: -15px;
      z-index: 1;
      font-weight: bold;
      color: @color-white!important;
      background: @color-button-active;
      background: @color-primary;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        font-size: @font-icon-large;
        line-height: 37px;
      }
      &:hover {
        box-shadow: @box-shadow-3-6-29;
        background: @color-hover !important;
      }
      &.active {
        box-shadow: @box-shadow-3-6-29;
        background: @color-primary;
      }
    }
  }

  .home-feeds {
    position: relative;
    background: @color-grey;
    overflow: hidden;
    padding: 0 !important;
    transition: width 0.5s;
    &.active {
      width: 476px !important;
      min-width: 476px;
      top: 1px;
      bottom: 0;
    }
    width: 86px;
    height: auto;
    .comments {
      &.shrink-button {
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 80px;
          li {
            width: 32px;
            height: 32px;
            border-radius: 4px;
            cursor: pointer;
            background: @color-white;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            transition: 0.5s;
            i {
              font-size: @font-icon-medium;
              line-height: 31px;
              color: @color-primary;
            }
            &:hover {
              transition: 0.5s;
              background: @color-hover;
              i {
                color: @color-white;
              }
            }
          }
        }
        &.hidden {
          display: none;
        }
      }
    }
    .feeds-header {
      display: flex;
      margin: 30px 30px 0px 30px;
      flex-direction: row;
      width: 416px;
      height: 35px;
      justify-content: space-between;
      flex-wrap: wrap;
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        li {
          margin-right: 30px;
          color: @color-primary;
          font-size: @font-medium;
          position: relative;
          text-transform: capitalize;
          cursor: pointer;
          &:after {
            content: '';
            display: block;
            width: 0;
            height: 2px;
            position: absolute;
            bottom: -4px;
            background: @color-button-active;
            transition: width 0.3s;
          }
          &.active {
            font-weight: bold;
            color: @color-button-active;
            &:after {
              width: 100%;
            }
          }
          &:hover {
            color: @color-hover;
          }
        }
      }
      .feeds-action {
        display: flex;

        .input-container {
          position: relative;
          .toggle-btn {
            &:hover {
              .la {
                background-color: @color-hover;
              }
            }

            display: flex;
            margin-left: 15px;
            position: relative;
            height: 32px;
            border: none;
            cursor: pointer;
          }
          .icon {
            padding: 6px 5px;
            font-size: @font-icon-small;
            line-height: 24px;
            color: @color-white;
            background-color: @color-primary;

            width: 32px;
            height: 32px;
            text-align: center;
            border-radius: 4px 0 0 4px;
            &:hover {
              background-color: @color-hover;
            }
          }
          input {
            cursor: pointer;
            border: 1px solid @color-input-border;
            max-width: 85px;
            height: 32px;
            padding: 10px 11px;
            font-size: @font-small;
            height: 32px;
            line-height: 11px;
            border-radius: 0 4px 4px 0;

            color: @color-primary;
            &:active,
            &:focus {
              outline: none;
            }
            &::placeholder {
              text-align: center;
              color: @color-primary;
            }
          }
          .comments-filter-item {
            height: 450px;
            width: 134px;
            z-index: 99;
            border-radius: 10px;
            background: @color-white;
            position: absolute;
            overflow: hidden;
            top: 42px;
            right: 0;
            box-shadow: @box-shadow-3-6-29;
          }
          &.active {
            .icon {
              background-color: @color-button-active;
            }
          }
        }
      }
      &.hidden {
        display: none;
      }
    }
    .feeds-container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: start;
      margin-left: 10px;
      ul {
        list-style: none;
        padding: 0;
        display: flex;

        li {
          min-width: 416px;
          &.active {
            animation: slideIn 0.5s forwards;
          }
          &.disabled {
            position: absolute;
            animation: slideOut 0.5s forwards;
          }
          &.active-feeds {
            animation: slideInRight 0.5s forwards;
          }
          &.disabled-feeds {
            position: absolute;
            animation: slideOutRight 0.5s forwards;
          }
        }
      }
      &.hidden {
        display: none;
      }
    }
    @media screen and (max-width: 767px) {
      max-width: 100%;
    }
  }
  .feed-details-modal {
    .modal-dialog {
      min-width: 1024px !important;
      .modal-content {
        background: @color-light-grey!important;
        .modal-header {
          padding: 20px 20px !important;
          .modal-title{
            line-height: 19px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        .modal-body {
          .comment-card {
            cursor: pointer;
            background: @color-white;
            overflow: hidden;
            border-radius: 10px;
            &.feeds {
              width: 984px;
              min-height: 130px;
              display: flex;
              padding: 0 !important;
             
              .feeds-description {
                width: 100% !important;
                border-radius: 0px 10px 10px 0px;
                background: @color-white;
                padding: 20px;
                position: relative;
                h4 {
                  font-size: @font-h4;
                  color: @color-dark-grey;
                  font-weight: bold;
                  margin: 0 !important;
                  padding: 0 !important;
                }
                span {
                  font-style: italic;
                  font-size: @font-xsmall;
                  line-height: 24px;
                  color: @color-dark-grey;
                }
                p {
                  color: @color-dark-grey;
                  font-size: @font-small;
                  line-height: 18px;
                  margin-bottom: 5px;
                  display: block;
                  margin: 0 auto;
                  &.shrink-text-view {
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                }
                .see-more-btn {
                  display: none;
                  position: absolute;
                  font-size: @font-small;
                  line-height: 18px;
                  right: 5px;
                  bottom: 35px;
                  color: @color-primary;
                  cursor: pointer;
                  width: 63px;
                  background: @color-white;
                  text-align: end;
                  &:before {
                    content: '...';
                    color: @color-dark-grey;
                  }
                  &.less {
                    width: auto;
                    &:before {
                      content: '';
                    }
                  }
                }
                .feeds-button {
                  display: flex;
                  margin-bottom: 10px;
                  .social-button {
                    color: @color-white;
                    width: 30px;
                    height: 30px;
                    background: @color-primary;
                    display: flex;
                    margin-right: 5px;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    &.facebook {
                      background-color: @color-facebook;
                    }
                    &.youtube {
                      background-color: @color-youtube;
                    }
                    &.twitter {
                      background-color: @color-twitter;
                    }
                    &.linkedin {
                      background-color: @color-linkedin;
                    }
                    &.reddit {
                      background-color: @color-reddit;
                    }
                  }
                  .comment-action-btn {
      position: absolute;
      display: flex;
      top: 25px;
      right: -510px;
      transition: 0.5s;
      flex-direction: row;
      .btn-relevent {
        display: flex;
        align-items: center;
        border: none;
        height: 20px;
        background: @color-button-disabled;
        padding: 4px 12px 5px 12px;
        color: @color-white;
        font-size: @font-small;
        line-height: 10px;
        transition: 0.5s;
        &:focus {
          outline: none;
        }
        &:first-child {
          border-radius: 4px 0 0 4px;
        }
        &:hover {
          background: @color-primary;
          transition: 0.5s;
          color: @color-white;
        }
        &.active {
          color: @color-white;
          background: @color-hover;
          font-weight: bold !important;
        }
      }
    }
  }
      &:hover .comment-action-btn {
        right: 0;
        transition: 0.5s ease;
      }
              }
            }
          }
          .toggle-response {
            ul {
              list-style: none;
              display: flex;
              padding: 0 !important;
              margin: 0 !important;
              cursor: pointer;
              li {
                color: @color-primary;
                font-size: @font-medium;
                margin-top: 15px;
                position: relative;
                line-height: 21px;
                &:first-child {
                  margin-right: 18px;
                }
                &:after {
                  content: '';
                  display: block;
                  width: 0;
                  height: 2px;
                  position: absolute;
                  bottom: -4px;
                  background: @color-button-active;
                  transition: width 0.3s;
                }
                &.active {
                  font-weight: bold;
                  color: @color-button-active;
                  &:after {
                    width: 100%;
                  }
                }
                &:hover {
                  color: @color-hover;
                }
              }
            }
          }
          .response-slide-in {
            margin-top: 23px;
            height: 1075px;
            overflow: auto;
            ul {
              list-style: none;
              padding: 0;
              display: flex;
              height: 100%;
              position: relative;
              li {
                width: 984px;
                height: 250px !important;
                .positive-response {
                  margin-bottom: 20px;
                  cursor: pointer;
                  height: 116px;
                  border-radius: 10px;
                  background: @color-white;
                  padding: 20px;
                  .response-header {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .feeds-button {
                      display: flex;
                      .social-button {
                        background: @color-primary;
                        border-radius: 50%;
                        width: 20px;
                        height: 20px;
                        color: @color-white;
                        display: flex;
                        margin-right: 5px;
                        justify-content: center;
                        align-items: center;
                        &.facebook {
                          background-color: @color-facebook;
                        }
                        &.youtube {
                          background-color: @color-youtube;
                        }
                        &.twitter {
                          background-color: @color-twitter;
                        }
                        &.linkedin {
                          background-color: @color-linkedin;
                        }
                        &.reddit {
                          background-color: @color-reddit;
                        }
                      }
                    }
                    .response-date {
                      font-size: @font-xsmall;
                      font-style: italic;
                      line-height: 24px;
                    }
                  }
                  p {
                    font-size: @font-small;
                    padding-top: 20px !important;
                    padding-bottom: 12px !important;
                    line-height: 18px;
                  }
                  position: relative;
                  .comment-action-btn {
                    position: absolute;
                    display: flex;
                    opacity: 0;
                    top: 22px;
                    right: 0;
                    transition: 0.5s;
                    flex-direction: row;
                    .btn-relevent {
                      display: flex;
                      align-items: center;
                      border: none;
                      height: 20px;
                      padding: 4px 12px 5px 12px;
                      color: @color-white;
                      font-size: @font-small;
                      background: @color-button-disabled;
                      line-height: 10px;
                      transition: 0.5s;
                      &:focus {
                        outline: none;
                      }
                      &:first-child {
                        border-radius: 4px 0 0 4px;
                      }
                      &:hover {
                        background: @color-primary;
                        transition: 0.5s;
                        color: @color-white;
                      }
                    }
                  }
                  &:hover {
                    box-shadow: @box-shadow-3-6-29;
                    .comment-action-btn {
                      opacity: 1;
                    }
                  }
                }
                &.active {
                  animation: slideInRight 0.5s forwards;
                }
                &.disabled {
                  position: absolute;
                  animation: slideOut 0.5s forwards;
                }
              }
            }
          }
        }
        .modal-footer {
          .btn {
            width: 100%;
            background: @color-primary;
            display: flex;
            margin-left: 0 !important;
            align-items: center;
            height: 48px;
            color: @color-white;
            justify-content: center;
            font-weight: bold;
            &:focus {
              outline: 0 !important;
              box-shadow: none !important;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1024px) {
  .chart-content {
    width: 420px !important;
    height: 260px !important;
    .highcharts-container {
      width: 400px !important;
      height: 260px !important;
      box-shadow: @box-shadow-2-6-a;
      .highcharts-root {
        width: 400px !important;
        height: 260px !important;
      }
    }
    &.trend {
      width: 840px !important;
      height: 240px !important;
      .highcharts-container {
        width: 820px !important;
        height: 240px !important;
        .highcharts-root {
          width: 820px !important;
          height: 240px !important;
        }
      }
    }
  }
  .add-chart-container {
    width: 400px !important;
    height: 260px !important;
  }
  .toggle-button {
    &.active {
      right: 430px !important;
    }
  }
  .home-feeds {
    &.active {
      position: absolute;
      right: 0;
      box-shadow: @box-shadow-3-6-29 !important;
    }
  }
}
@media only screen and (max-width: 768px) {
  .chart-content {
    width: 300px !important;
    height: 185px !important;
    box-shadow: @box-shadow-2-6-a;
    .highcharts-container {
      width: 280px !important;
      height: 190px !important;
      .highcharts-root {
        width: 280px !important;
        height: 190px !important;
      }
    }
    &.trend {
      width: 600px !important;
      height: 240px !important;
      .highcharts-container {
        width: 580px !important;
        height: 240px !important;
        .highcharts-root {
          width: 580px !important;
          height: 240px !important;
        }
      }
    }
  }
  .add-chart-container {
    width: 280px !important;
    height: 185px !important;
  }
  .toggle-button {
    &.active {
      right: 430px !important;
    }
  }
  .home-feeds {
    &.active {
      position: absolute;
      right: 0;
      box-shadow: @box-shadow-3-6-29 !important;
    }
  }
}
@media only screen and (max-width: 640px) {
  .chart-content {
    width: 100% !important;
    height: auto !important;
    box-shadow: @box-shadow-2-6-a;
    .highcharts-container {
      width: 100% !important;
      height: auto !important;
      .highcharts-root {
        width: 100% !important;
        height: auto !important;
      }
    }
    &.trend {
      width: 100% !important;
      height: auto !important;
      .highcharts-container {
        width: 100% !important;
        height: auto !important;
        .highcharts-root {
          width: 100% !important;
          height: auto !important;
        }
      }
    }
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slideOut {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes slideInRight {
  0% {
    left: 73%;
    transform: translateX(100%);
  }
  100% {
    left: 0;
    transform: translateX(0%);
  }
}

@keyframes slideOutRight {
  0% {
    left: 0;
    transform: translateX(0%);
  }
  100% {
    left: 73%;
    transform: translateX(100%);
  }
}
