@import '../../../styles/mixins.less';

.custom-filter-plugin {
  position: relative;
  .input-container {
    display: flex;
    margin-left: 15px;
    position: relative;
    height: 32px;
    border: 4px;
    cursor: pointer;
    &:hover {
      .la {
        background-color: @color-hover!important;
      }
    }
    .icon {
      padding: 6px 5px;
      font-size: @font-icon-small;
      line-height: 24px;
      border-radius: 4px 0 0 4px;
      color: @color-white;
      background-color: @color-primary;
      width: 32px;
      height: 32px;
      text-align: center;

      @media screen and (max-width: 768px) {
        border-radius: 4px !important;
      }
    }
    input {
      cursor: pointer;
      border: 1px solid @color-input-border;
      max-width: 73px;
      height: 32px;
      padding: 10px 11px;
      font-size: @font-small;
      height: 32px;
      line-height: 12px;
      color: @color-white;
      border-radius: 0 4px 4px 0;

      &:active,
      &:focus {
        outline: none;
      }
      &::placeholder {
        text-align: center;
        color: @color-primary;
      }
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    .comments-filter-item {
      height: 390 px;
      width: 133.61px;
      z-index: 99;
      background: @color-white;
      position: absolute;
      top: 32px;
      box-shadow: @box-shadow-3-6-29;
    }
    &.active {
      .icon {
        background-color: @color-button-active;
      }
    }
  }
  .filter-container {
    background-color: @color-white;
    position: absolute;
    display: none;
    border-radius: 10px;
    height: auto;
    width: 380px;
    top: 40px;
    right: 0;
    z-index: 9;
    box-shadow: @box-shadow-3-6-29;
    @media screen and (max-width: 640px) {
      left: 0;
    }
    .social-media {
      max-width: 170px !important;
    }
    .news-block {
      .select-item {
        width: 210px;
        label {
          text-transform: capitalize;
        }
        .styled-checkbox {
          height: 25px;
          width: 25px;
        }
      }
    }
    .select-item {
      height: 56px;
      label {
        font-size: @font-small;
        line-height: 12px;
      }
      .styled-checkbox {
        height: 25px;
        width: 25px;
      }
    }
    .row {
      padding: 0;
      margin: 0;
      .col-6,
      .col-12 {
        margin: 0;
        padding: 0;
      }
    }
    &.show {
      display: block;
    }
  }
}
