.modal {
  &.share-report-modal {
    .modal-dialog {
      min-width: 640px !important;
    }
    .modal-content {
      .modal-header {
        padding: 20px !important;
        height: 56px;
      }
      .modal-body {
        .share-report {
          padding: 20px;
          padding-bottom: 0 !important;
          p {
            font-size: @font-medium;
            line-height: 16px;
            color: @color-dark-grey;
          }
          form {
            margin-top: 20px;
            margin-bottom: 21px;
            .form-group {
              display: flex;
              align-items: center;
              label {
                font-weight: bold;
                font-size: @font-medium;
                line-height: 16px;
              }
              .add-email-container {
                border: 2px solid @color-medium-grey;
                margin-left: 40px;
                width: 100%;
                min-height: 50px;
                align-items: center;
                display: flex;
                .tags-input {
                  padding: 5px 20px;
                  width: 100%;
                  min-height: auto;
                  align-items: center;
                  .tag-item {
                    margin: 5px 10px 5px 0px;
                  }
                  input {
                    min-height: 30px;
                    flex-grow: 1;
                    padding: 0px;
                  }
                }
                .form-control,
                .input {
                  border-radius: 0 !important;
                  height: 50px;
                  padding: 15px 20px;
                  max-width: 544px !important;
                  font-size: @font-medium;
                  line-height: 16px;
                  color: @color-dark-grey;
                  border: 2px solid @color-medium-grey;

                  &.input-error {
                    position: relative;
                    border: 1px solid @color-danger !important;
                  }

                  &::placeholder {
                    color: @color-medium-grey;
                  }
                  &:focus {
                    box-shadow: none;
                    outline: 0;
                  }
                }
                .instruction-msg {
                  font-size: @font-small;
                  font-style: italic;
                  color: @color-input-msg;
                  line-height: 16px;
                  margin-top: 8px;
                  padding-left: 10px;
                  margin-left: 28.5%;
                  &.error {
                    color: @color-danger;
                    margin: 0 !important;
                    position: absolute;
                    bottom: -20px;
                  }
                }
                &.input-error {
                  position: relative;
                  border: 2px solid @color-toaster-error;
                }
              }
            }
          }
        }
      }
      .modal-footer {
        padding: 20px !important;
        .report-action {
          .btn {
            &.disabled {
              pointer-events: none;
              background: @color-button-disabled;
              outline: none;
              border: none;
            }
          }
        }
      }
    }
  }
}
