@import '../../styles/mixins';

.home-app {
  position: relative;
  .page-container {
    margin-left: 70px;
    @media only screen and (max-width: 640px) {
      margin: 0 !important;
    }
  }
  .category-selector {
    .modal-body {
      padding: 0 !important;
    }
    .modal-dialog {
      height: auto;
      max-width: 640px !important;
      .modal-content {
        .modal-header {
          padding: 18px 15px 18px 20px;
          .modal-title {
            font-size: @font-large!important;
            line-height: 12px;
            font-weight: bold;
          }
        }
        max-width: 640px !important;
        height: 90vh;
        display: flex;
        .modal-body {
          display: flex;
          flex-direction: row;
          flex-grow: 0 1;
          overflow: auto;
          flex-wrap: wrap;
          .list-container {
            margin: 0 !important;
            padding: 0 !important;
            .topic-list {
              padding: 0;
              margin: 0;
              ul {
                padding: 0;
                margin: 0 !important;
                li {
                  &:not(:first-child) {
                    margin-bottom: 5px !important;
                  }
                  height: 56px;
                  display: flex;
                  align-items: center;
                  &.main-list {
                    margin-bottom: 0px !important;
                    padding-left: 20px;
                    label {
                      margin: 0 !important;
                      font-weight: bold;
                      font-size: @font-medium;
                      line-height: 12px;
                    }
                  }
                  &.sub-list {
                    padding-left: 40px;
                    cursor: pointer;
                    label {
                      cursor: pointer;
                      margin: 0 !important;
                      font-size: @font-medium;
                      line-height: 18px;
                    }
                    &.active {
                      background: @color-primary-light;
                      color: @color-primary;
                      &:after {
                        content: '\f17b';
                        color: @color-primary;
                        font-family: @font-family-icon;
                        position: absolute;
                        right: 30px;
                        font-size: @font-large;
                        line-height: 24px;
                      }
                    }
                    &:hover {
                      background: @color-primary-light;
                      color: @color-primary;
                    }
                  }
                }
              }
            }
          }
        }
        .modal-footer {
          padding: 14px 20px 19px 0;
          .manage-topics {
            .disabled {
              pointer-events: none;
            }
            .btn {
              width: 148px;
              height: 48px;
              font-size: @font-small;
              font-weight: bold;
              color: @color-primary;
              line-height: 30px;
              border: 2px solid @color-primary;
              background-color: @color-white;
              margin-left: 20px;
              &.btn-submit {
                background: @color-primary;
                color: @color-white;
              }
              &:focus {
                outline: 0 !important;
                box-shadow: none;
              }
              &:hover {
                color: @color-white;
                background: @color-hover;
              }
              &.disabled {
                background: @color-button-disabled!important;
                color: @color-white!important;
                border: none;
                pointer-events: none !important;
              }
            }
          }
        }
      }
    }
  }
}
