@import '../../../styles/mixins.less';
.category-container {
  height: 70px;
  padding: 0 0 0 20px;
  width: 378px;
  transition: 0.5s;
  display: flex;
  align-items: center;
  &.active {
    background: @color-button-active!important;
    color: @color-white;
  }
  .category-title {
    text-transform: capitalize;
    display: flex;
    font-weight: bold;
    max-height: 42px;
    font-size: @font-large;
    line-height: 22px;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    i {
      font-size: @font-icon-large;
      margin-left: 10px;
    }
    p {
      width: 300px;
      margin: 0 !important;
      margin-left: 5px !important;
      display: flex;
      align-items: center;
    }
  }
  .category-list {
    z-index: 999;
    position: absolute;
    top: 80px;
    left: 10px;
    background: @color-white;
    width: 370px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: @box-shadow-3-6-29;
    color: @color-dark-grey;
    &.disable {
      display: none;
    }
    &.active {
      display: block;
    }
    .main-list {
      padding: 0 !important;
      margin: 0 !important;
      li {
        text-transform: capitalize;
        padding-left: 20px;
        height: 56px;
        width: 100%;
        display: flex;
        cursor: pointer;
        padding-right: 60px;
        align-items: center;
        label {
          font-size: @font-medium;
          line-height: 12px;
          margin: 0 !important;
          color: @color-xdark;
        }
        &.active-category {
          background-color: @color-primary-light;
          label {
            color: @color-primary!important;
            line-height: 22px !important;
          }
          &:after {
            content: '\f17b';
            color: @color-primary;
            font-family: @font-family-icon;
            position: absolute;
            right: 25px;
            font-size: @font-large;
            line-height: 22px;
          }
        }
        &.more-topics {
          cursor: pointer;
          a {
            display: block;
            width: 100%;
          }
          label {
            color: @color-primary!important;
            cursor: pointer;
          }
          &:after {
            content: '\f112';
            color: @color-primary;
            font-family: @font-family-icon;
            position: absolute;
            right: 25px;
            font-size: @font-large;
            line-height: 22px;
          }
        }
        &:hover {
          color: @color-white;
          background: @color-primary-light;
        }
      }
    }
  }

  &:hover {
    background: @color-hover;
    color: @color-white;
    transition: 0.5s;
  }
}
